* {
    border: none;
    /* border-radius: 5; */
    min-height: 0;
    font-family: "Ubuntu Nerd Font";
    font-weight: 400;
    font-size: 14px;
    padding: 0;

}



window#waybar, tooltip {
    background: #1a1a22;
    border: 2px solid #1F1F28;
}

.module {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #393836;
    margin: 1px 1px;
    padding: 2px 2px;
}

#workspaces {
    background-color: #2A2A37;
    border: 2px solid #363646;

}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 3px;
    color: #c7ab7a;
}

#workspaces button.active {
    background-color: #ddc7a1;
    color: #303536;
}

#workspaces button label {
    font-family: "Jetbrains Mono Nerd Font";
}

#window {
    background-color: #303536;
    border: 2px solid #434a4c;
    color: #d4be98;
}

#tray {
    background-color: #363646;
    border: 2px solid #2A2A37;
}

#clock { 
    font-family: "Jetbrains Mono Nerd Font";
    background-color: #8ba4b0;
    border: 2px solid #658594;
}

#battery {
    background-color: #87a987;
    border: 2px solid #8a9a7b;
}

#wireplumber {
    background-color: #C0A36E;
    border: 2px solid #938056;
}

#backlight {
    background-color: #c4b28a;
    border: 2px solid #9a8a68
}

#cpu {
    background-color: #b6927b;
    border: 2px solid #b98d7b;
}

#workspaces button.urgent,
#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
    color: #c14a4a;
}
